<section class="bail-form">
  <h2>Enter credentials to bail</h2>
  <form action="/event/<%= @event_key %>/bail" method="post">
    <label for="attendee_email">Email:</label>
    <input name="attendee_email" placeholder="Email Address" type="text" value=<%= @attendee_email ? @attendee_email : ""%>>

    <label for="attendee_bailcode">Bailcode:</label>
    <input name="attendee_bailcode" placeholder="Bailcode" type="text" value="">

    <button type="submit">Bail!</button>
    <a href="/event/<%= @event_key %>">Cancel</a>
  </form>
</section>
