<!doctype html>
<html lang="en-US">
  <head>
    <title>Bail App</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <h1>Bail App</h1>
    </header>

    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
