<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Bail</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <header class="bar nav-bar">
      <div onclick="location.href='/';" class="site-header">
        <img class="logo" src="/images/drop.svg">
        <h1>Bail</h1>
      </div>
    </header>

    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>

    <main class="site-body">
      <%== yield %>
    </main>
  </body>
</html>
