<section class="new-attendee-form">
  <form action="/event/<%= @event_key %>/attend" method="post">
    <label for="attendee_name">Display name</label>
    <input name="attendee_name" placeholder="Display Name" type="text" value="">
    <label for="attendee_email">Email</label>
    <input name="attendee_email" placeholder="Email Address" type="text" value="">
    <label for="attendee_bailcode">Bailcode</label>
    <input name="attendee_bailcode" placeholder="Bailcode" type="text" value="">
    <button type="submit">Add attendance</button>
    <a href="/">Cancel</a>
  </form>
</section>
