<section class="new-event-form">
  <form action="/event" method="post">
    <div class="form-col">
        <input class="event-input" name="event_name" placeholder="Event Name" type="text" value="">
        <input class="event-input" name="event_date" placeholder="Event Date" type="date" value="">
        <input class="event-input" name="event_time" placeholder="Event Time" type="time" value="">
        <input class="event-input" name="event_location" placeholder="Event Location" type="text" value="">
    </div>
    <div class="form-col">
      <textarea class="event-input" name="event_description" id="event_description" rows="5" cols="60" placeholder="Event Description"></textarea>
    </div>
    <div class="form-submit">
      <button type="submit" class="btn">Add</button>
      <a href="/" class="btn btn-cancel">Cancel</a>
    </div>
  </form>
</section>
