body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  margin: 0;
  width: 100%;
  height: 90%;
  position: absolute;
}

.site-header {
  cursor: pointer;
  display: inline-block;
}

h1 {
  display: inline-block;
  font-size: 2em;
  font-weight: 400;
}

.header-item {
  vertical-align: middle;
}

.bar {
  background-color: rgb(221, 222, 223);
  display: block;
  box-sizing: border-box;
  padding: 5px 10px;
}

.site-body {
  display: block;
  height: 80%;
}

.home-button {
  text-align: center;
  padding-top: 15%;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: .25rem;
  border-width: .125rem;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-color: #000000;
}

.btn:hover {
  background-color: rgb(221, 222, 223);
}

.btn-cancel:hover {
  background-color: rgb(201, 92, 92);
}

.logo {
  width: 50px;
  display: inline-block;
}

.form-col {
  display: inline-block;
  height: 100%;
  margin-top: 10px;
  vertical-align: top;
  width: 49%;
}

.event-input {
  display: block;
  width: 80%;
  margin: 10px;
  font-size: 1.2rem;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.form-submit {
  margin-top: 20px;
  margin-left: 10px;
}

.event-header,
.event-attendees {
  display: block;
  list-style-type: none;
}

.event-item {
  display: inline-block;
}

.event-name {
  width: 40%;
}

.event-date {
  width: 20%;
  font-style: italic;
}

.event-time {
  width: 20%;
  font-style: italic;
}

.event-status {
  display: inline-block;
}

.canceled {
  color: red;
}

.not-canceled {
  color: green;
}

ul {
  margin: 0;
  padding: 0;
}

.event-page {
  padding: 20px;
  box-sizing: border-box;
}