body {
  font: normal 14px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2em;
}

h1.header-item {
  cursor: pointer;
}

h2 {
  font-size: 1.5em;
}

h2.attendees-label {
  display: inline-block;
  margin-right: 10px;
}

label {
  display: block;
  padding-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  width: 50%;
  height: 40px;
  padding: 0 8px;
  margin-bottom: 10px;
  font: normal 14px Helvetica, Arial, sans-serif;
  border-radius: 4px;
  border: 1px solid #cecece;
  box-sizing: border-box;
}

textarea {
  height: 80px;
  padding: 8px 8px;
}

button {
  width: 50%;
  height: 40px;
  padding: 0 8px;
  margin-top: 10px;
  margin-right: 10px;
  font: normal 14px Helvetica, Arial, sans-serif;
  border-radius: 4px;
  border: 1px solid #cecece;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  background-color: rgb(221, 222, 223);
}

form.new-attendee {
  display: inline-block;
  width: 20%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.event-detail-label {
  font-weight: 600;
  width: 15%;
  display: inline-block;
}

.event-detail {
  display: inline-block;
}